@model MvcMusicStore.Models.Order

@{
    ViewBag.Title = "Address And Payment";
}

@section scripts {
    <script src="@Url.Content("~/bundles/jqueryval")"></script>
    <script src="~/Scripts/checkout-addressandpayment.js"></script>
}

<script id="cartItemTemplate" type="text/x-kendo-template">
    <input type="hidden" name="a#= Album.AlbumId #" value="#= Quantity #" />
</script>

@using (Html.BeginForm()) {
    <section class="login">
        <h3>Address And Payment</h3>
        @Html.EditorForModel()
        <div data-bind="source: cartItems" data-template="cartItemTemplate"></div>
        <input type="submit" value="Submit Order" class="k-button" />
    </section>
}
