@model int

@{
    ViewBag.Title = "Checkout Complete";
}

@section scripts
{
    <script src="~/Scripts/checkout-complete.js"></script>
}

<h3>Checkout Complete</h3>
<p>Thanks for your order! Your order number is: @Model</p>
<a href="/" class="k-button">Return to the store.</a>
