@section scripts
{
    <script src="~/Scripts/home-index.js"></script>
}

<script id="album-template" type="text/x-kendo-template">
    <img src="#: AlbumArtUrl #" />
    <span>#: Title #</span>
    <span>#: Artist.Name #</span>
</script>

<div id="promotion">
    <img src="/Content/Images/home-showcase.png" />
</div>

<section>
    <h3>Featured Artist: <span data-bind="text: featuredArtistName"></span></h3>
    <div data-role="listview" data-bind="source: featuredArtistAlbums" data-template="album-template">
    </div>
</section>

<section>
    <h3>Top Selling Albums:</h3>
    <div data-role="listview" data-bind="source: topSellingAlbums" data-template="album-template">
    </div>
</section>
