@section scripts
{
    <script src="~/Scripts/home-index.js"></script>
}

<script id="album-template" type="text/x-kendo-template">
    <div class="album">
        <img src="#: AlbumArtUrl #" />
        <span data-bind="text: Title"></span>
        <span data-bind="text: Artist.Name"></span>
        <span data-bind="textFormatted: Price" data-format="c"></span>
    </div>
</script>

<div id="promotion">
    <img data-bind="rotateImages: bannerImages" data-rotate-delay="5000" />
</div>

<section>
    <h3>Featured Artist: <span data-bind="text: featuredArtistName"></span></h3>
    <div data-role="listview" data-bind="source: featuredArtistAlbums" data-template="album-template">
    </div>
</section>

<section>
    <h3>Top Selling Albums:</h3>
    <div data-role="listview" data-bind="source: topSellingAlbums" data-template="album-template">
    </div>
</section>
