@{
    ViewBag.Title = "Get Music Store Mobile";
}

@section scripts
{
    <script src="~/Scripts/App/home-mobile.js"></script>
}

<img id="android-screenshot" src="~/Content/Images/Mobile/android-screenshot.png" />
<img id="ios-screenshot" src="~/Content/Images/Mobile/ios-screenshot.png" />
<a id="icenium-logo" href="http://www.icenium.com"><img src="~/Content/Images/Mobile/icenium-logo.png" /></a>

<h3>Get the Mobile Music Store</h3>

<p>The mobile music store was built using <a class="product-name" href="http://www.icenium.com">Icenium</a> and Kendo <a class="product-name" href="http://www.kendoui.com/mobile">UI Mobile</a>.</p>

<select id="mobile-device-selection">
    <option value="none">Select your device...</option>
    <option value="ios">iOS</option>
    <option value="android">Android</option>
</select>

<div id="get-mobile-ios" class="get-mobile-panel" style="display:none;">
    <p>
        iOS users must first install <a class="product-name" href="http://icenium.com/mobile-app-platform/features/say-goodbye-to-provisioning">Icenium Ion</a> from the App Store by scanning this QR code:
        <img class="qr-code" src="~/Content/Images/Mobile/ion-qr.png" />
    </p>

    <p>
        Once Ion is installed, scan this QR code to install the Music Store app:
        <img class="qr-code" src="~/Content/Images/Mobile/ios-qr.png" />
    </p>
</div>

<div id="get-mobile-android" class="get-mobile-panel" style="display:none;">
    <p>
        Scan this QR code to install the Music Store app:
        <img class="qr-code" src="~/Content/Images/Mobile/android-qr.png" />
    </p>
</div>
