@{
    ViewBag.Title = "Store Graphs";
}

@section scripts
{
    <script src="~/Scripts/date.js"></script>
    <script src="~/Scripts/storemanager-graphs.js"></script>
}

<ul id="date-range" class="selector" ></ul>
<h3>Overall Sales</h3>
<div id="revenue-chart"></div>

<h3>Orders By Genre</h3>
<div id="genre-chart"></div>
<ul id="genre-chart-type" class="selector"></ul>
