@{
    ViewBag.Title = "Store Graphs";
}

@section scripts
{
    <script src="~/Scripts/date.js"></script>
    <script src="~/Scripts/storemanager-graphs.js"></script>
}

<h3>Overall Sales</h3>
<ul id="date-range" ></ul>
<div id="revenue-chart"></div>