@model IEnumerable<MvcMusicStore.Models.Album>

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script src="~/Scripts/storemanager-index.js"></script>
}

<h3>Manage Albums</h3>
<div id="albumsGrid"></div>