@section scripts
{
    <script src="~/Scripts/store-browse.js"></script>
}

<script id="album-template" type="text/x-kendo-template">
    <div class="album">
        <img src="#: AlbumArtUrl #" />
        <span data-bind="text: Title"></span>
        <span data-bind="text: Artist.Name"></span>
        <span data-bind="textFormatted: Price" data-format="c"></span>
    </div>
</script>

<h3 data-bind="text: genre.Name"></h3>
<div data-role="listview" data-bind="source: albums" data-template="album-template"></div>